# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris=pd.read_csv('iris.data',header=None)

In [3]:
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### Step 4. Create columns for the dataset

In [4]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [5]:
columnsName=['sepal_length (in cm)','sepal_width (in cm)','petal_length (in cm)','petal_width (in cm)','class']

In [6]:
iris.columns=columnsName

In [7]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [8]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [9]:
iris.iloc[10:30,2:3]=None

In [10]:
iris.head(30)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,NaN,0.2,Iris-setosa
11,4.8,3.4,NaN,0.2,Iris-setosa
12,4.8,3.0,NaN,0.1,Iris-setosa
13,4.3,3.0,NaN,0.1,Iris-setosa
14,5.8,4.0,NaN,0.2,Iris-setosa
15,5.7,4.4,NaN,0.4,Iris-setosa
16,5.4,3.9,NaN,0.4,Iris-setosa
17,5.1,3.5,NaN,0.3,Iris-setosa
18,5.7,3.8,NaN,0.3,Iris-setosa
19,5.1,3.8,NaN,0.3,Iris-setosa
20,5.4,3.4,NaN,0.2,Iris-setosa
21,5.1,3.7,NaN,0.4,Iris-setosa
22,4.6,3.6,NaN,0.2,Iris-setosa
23,5.1,3.3,NaN,0.5,Iris-setosa
24,4.8,3.4,NaN,0.2,Iris-setosa
25,5.0,3.0,NaN,0.2,Iris-setosa
26,5.0,3.4,NaN,0.4,Iris-setosa
27,5.2,3.5,NaN,0.2,Iris-setosa
28,5.2,3.4,NaN,0.2,Iris-setosa
29,4.7,3.2,NaN,0.2,Iris-setosa

In [11]:
iris.isnull().sum()

sepal_length (in cm)     0
sepal_width (in cm)      0
petal_length (in cm)    20
petal_width (in cm)      0
class                    0
dtype: int64

### Step 7. Good, now lets substitute the NaN values to 1.0

In [12]:
iris.fillna(1.0,inplace=True)

In [13]:
iris.head(30)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.0,0.2,Iris-setosa
11,4.8,3.4,1.0,0.2,Iris-setosa
12,4.8,3.0,1.0,0.1,Iris-setosa
13,4.3,3.0,1.0,0.1,Iris-setosa
14,5.8,4.0,1.0,0.2,Iris-setosa
15,5.7,4.4,1.0,0.4,Iris-setosa
16,5.4,3.9,1.0,0.4,Iris-setosa
17,5.1,3.5,1.0,0.3,Iris-setosa
18,5.7,3.8,1.0,0.3,Iris-setosa
19,5.1,3.8,1.0,0.3,Iris-setosa
20,5.4,3.4,1.0,0.2,Iris-setosa
21,5.1,3.7,1.0,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.0,0.5,Iris-setosa
24,4.8,3.4,1.0,0.2,Iris-setosa
25,5.0,3.0,1.0,0.2,Iris-setosa
26,5.0,3.4,1.0,0.4,Iris-setosa
27,5.2,3.5,1.0,0.2,Iris-setosa
28,5.2,3.4,1.0,0.2,Iris-setosa
29,4.7,3.2,1.0,0.2,Iris-setosa

In [14]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 8. Now let's delete the column class

In [15]:
del(iris['class'])

In [16]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2

### Step 9.  Set the first 3 rows as NaN

In [17]:
iris.iloc[:3,:]=None

In [18]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2

### Step 10.  Delete the rows that have NaN

In [19]:
iris.dropna(axis=0,inplace=True)

In [20]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2

### Step 11. Reset the index so it begins with 0 again

In [21]:
iris.reset_index(inplace=True)
iris.drop('index',axis=1,inplace=True)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.6,3.1,1.5,0.2
1,5.0,3.6,1.4,0.2
2,5.4,3.9,1.7,0.4
3,4.6,3.4,1.4,0.3
4,5.0,3.4,1.5,0.2
...,...,...,...,...
142,6.7,3.0,5.2,2.3
143,6.3,2.5,5.0,1.9
144,6.5,3.0,5.2,2.0
145,6.2,3.4,5.4,2.3
146,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.